name: Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          version: 16.x
      - name: Install Dependencies
        run: npm install 
      - name: Test
        run: npm test -- --ci --no-cache

